@import "@pluralsight/ps-design-system-core/dist/index.module.scss";

.header {
    background:$ps-colors-background-dark1;
    border-bottom:solid 1px $ps-colors-border-low-on-dark;
    display:flex;
    height:60px;
    padding:4px;

    &--branding {
        display:flex;
        margin-right:16px;
        padding:8px 12px;
        width:130px
    }

    &--nav {
        flex:1 1 0%;
    }
    
    &--utilities {
        align-items: center;
        box-sizing: border-box;
        border-left:solid 1px $ps-colors-border-low-on-dark;
        color:$ps-colors-text-icon-low-on-dark;
        display:flex;
        justify-content: space-between;
        padding:0 20px;
        margin-left:16px;
        width:160px;
    }
}