@import "~@pluralsight/ps-design-system-core/dist/index.module.scss";

.dialog {
    border-radius:2px;
    color:$ps-colors-text-icon-low-on-dark;
    cursor: pointer;
    display:inline-flex;
    font-weight:600;
    margin-right:12px;
    min-width:180px;
    position: relative;
    z-index:99;

    &--action {
        border-top:solid 1px $ps-colors-border-high-on-light;
        margin-top:12px;
        padding-top:12px;
    }

    &--item {
        align-items: center;
        display:flex;
        text-transform: capitalize;
        padding: 4px 0;
        width:240px;

        &.border {
            border-bottom:solid 2px $ps-colors-background-dark1;
            padding-bottom:8px;
            margin-bottom:8px;
        }

        input {
            margin-right:12px;
        }
    }
}